/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --main-purple: #66328E; /* Define a CSS variable */
}
